#Initialization of a variable in python

In [3]:
a = 13 #integer
b = "Python" #string
c = 2.34 #float
d = ['mars','venus',1,6.3] #list
e = (2,4,5) #tuple
f = {1:'Mercury' , 2:'Venus'} #dictionary
g = [1,2,3,4,6,5,5,2,4,1,3]

In [4]:
type(a)

int

In [5]:
type(b)

str

In [6]:
type(c)

float

In [7]:
type(d)

list

In [8]:
type(e)

tuple

In [9]:
type(f)

dict

In [10]:
type(g)

list

In [11]:
h = set(g)
type(h)

set

In [ ]:
#set property - it will only have unique values and all the duplicate values will be removed.

In [12]:
print(h)

{1, 2, 3, 4, 5, 6}

#Taking input in python

In [14]:
x = input("enter value : ")

enter value : 78

In [15]:
#input function by default takes argument as a string in order to take other data types as argument we have to typecast it
type(x)

str

In [16]:
#type casting - changing type of a variable
x = int(input("enter value : "))

enter value : 76

In [17]:
type(x)

int